<a href="https://colab.research.google.com/github/dan9133/Pyspark_Capstone_projects_Airlines_Dataset/blob/main/Pysaprk_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 2.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=873be2c510806d5dfb2a6844d3b76713c95af31caf895749bb496ee45c09f825
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [ ]:
# import  Spark_context
from pyspark import SparkContext,SparkConf

In [ ]:
# COnfigure SC and set master demo
conf=SparkConf().setAppName("demo").setMaster("local")

In [ ]:
# set SC with Conf
sc=SparkContext(conf=conf)

In [ ]:
# write a Rdd with SC
rdd=sc.parallelize(['a','b'])

In [ ]:
# Acton the RDD
rdd.collect()

['a', 'b']

In [ ]:
  # create the spark sessions
  from pyspark.sql import SparkSession

In [ ]:
 # build/Create SS
 spark=SparkSession.builder.getOrCreate()

In [ ]:
# Create data frame
df=spark.createDataFrame([("a","b")])

In [ ]:
# Action DF
df.show()

+---+---+
| _1| _2|
+---+---+
|  a|  b|
+---+---+

In [ ]:
# # Create namerdd from NameList

namelist=['Adam','Cray','Shaun','Brain','Mark','Christ','Shail','Satya','Mark','Norby','Frans','Mark','Bill']
rdd=sc.parallelize(namelist)

In [ ]:
rdd.collect()

['Adam',
 'Cray',
 'Shaun',
 'Brain',
 'Mark',
 'Christ',
 'Shail',
 'Satya',
 'Mark',
 'Norby',
 'Frans',
 'Mark',
 'Bill']

In [ ]:
# Find out the data type of namelist
type(namelist)

list

In [ ]:
# count by values
rdd.countByValue()

defaultdict(int,
            {'Adam': 1,
             'Cray': 1,
             'Shaun': 1,
             'Brain': 1,
             'Mark': 3,
             'Christ': 1,
             'Shail': 1,
             'Satya': 1,
             'Norby': 1,
             'Frans': 1,
             'Bill': 1})

In [ ]:
#Print only first element in the list
rdd.first()

'Adam'

In [ ]:
#Print top 5 elements in the list
rdd.top(5)  # It will take randomly name of the elements

['Shaun', 'Shail', 'Satya', 'Norby', 'Mark']

In [ ]:
# Create rdd from [ "Bills", "Mark","Brain","Mick"]
# Output: ['Mr. Bills', 'Mr. Mark', 'Mr. Brain', 'Mr. Mick']

name= [ "Bills", "Mark","Brain","Mick"]

In [ ]:
rdd=sc.parallelize(name)

In [ ]:
rdd.collect()

['Bills', 'Mark', 'Brain', 'Mick']

In [ ]:
# Use Map with LAmbda Fun()
RDD=rdd.map(lambda x: "Mr." +x)

In [ ]:
RDD.collect()

['Mr.Bills', 'Mr.Mark', 'Mr.Brain', 'Mr.Mick']

In [ ]:
# Create rdd from [2,4,8,6,10]
  # a.Output: [4, 8, 16, 12, 20]

   #b.Output [8, 64, 512, 216, 1000]

list=[2,4,8,6,10]

In [ ]:
rdd1=sc.parallelize(list)

In [ ]:
rdd1.collect()

[2, 4, 8, 6, 10]

In [ ]:
# Use the power fun in lambda
Multiple=rdd1.map(lambda a :a*2)

In [ ]:
Multiple.collect()  # Data Bricks Also Case sensetive

[4, 8, 16, 12, 20]

In [ ]:
# find the cube use map in lambda fun()
power_cube=rdd1.map(lambda a:pow(a,3))

In [ ]:
power_cube.collect()

[8, 64, 512, 216, 1000]

In [ ]:
# ### ASSIGMENT TASK
#Create namerdd from NameList ,

namelist = ['Ana','Bob']

In [ ]:
Rdd=sc.parallelize(namelist)

In [ ]:
Rdd.collect()

['Ana', 'Bob']

In [ ]:
# create a rdd from nameRDD, which output: ['Ana2nd', 'Bob2nd']
OtherRdd=Rdd.map(lambda x: x + '2nd')

In [ ]:
OtherRdd.collect()

['Ana2nd', 'Bob2nd']

In [ ]:
#create a pair RDD from nameRDD using map, output should be [('Ana', 20), ('Bob', 20)
pairRDD=Rdd.map(lambda a: (a,20))

In [ ]:
pairRDD.collect()

[('Ana', 20), ('Bob', 20)]

In [ ]:
##given a nameRDD : [['Ana','Bob'],['Caren']], use map or flatMap to return: ['Ana', 'Bob', 'plus', 'Caren', 'plus']


nameslist = (['Ana','Bob'],['Caren'])

In [ ]:
rdd=sc.parallelize(nameslist)

In [ ]:
rdd2=rdd.flatMap(lambda x : x+ ['plus'] )

In [ ]:
rdd2.collect()

['Ana', 'Bob', 'plus', 'Caren', 'plus']

In [ ]:
rdd3=rdd.map(lambda x :x +['plus'])

In [ ]:
rdd3.collect()

[['Ana', 'Bob', 'plus'], ['Caren', 'plus']]

In [ ]:
# Create a country list
country=['India','Brazil','UK','USA','Russia','India']
rdd4=sc.parallelize(country)

In [ ]:
rdd4.collect()

['India', 'Brazil', 'UK', 'USA', 'Russia', 'India']

In [ ]:
# use Count
rdd4.count()

6

In [ ]:
rdd4.countByValue()

defaultdict(int, {'India': 2, 'Brazil': 1, 'UK': 1, 'USA': 1, 'Russia': 1})

In [ ]:
rdd4.take(1)

['India']

In [ ]:
[1,2,3,4,5,6,7,8,9,10]
[1,11,100,2,12,100,3,13,100,4,14,100,5,15,100,6,7,8,9,10]

[1, 11, 100, 2, 12, 100, 3, 13, 100, 4, 14, 100, 5, 15, 100, 6, 7, 8, 9, 10]

In [ ]:
rdd5=rdd1.flatMap(lambda x: (x,x+10,100))

In [ ]:
rdd5.collect()

[2, 12, 100, 4, 14, 100, 8, 18, 100, 6, 16, 100, 10, 20, 100]

In [ ]:
# even num
even=rdd1.map(lambda a:a%2==0)

In [ ]:
even.collect()

[True, True, True, True, True]

In [ ]:

%md
#### Spark Data Structures
''' Rdd
  DataFrame
 Dataset
 Creating a DataFrame
create a dataframe

Data

I.

df=spark.createDataFrame(Data,schema)

II.

df=spark.read.
schema can be create by 3 different ways

str
list
pyspark datatypes

'''

In [ ]:
# create data frame we can first go with tranformation
help(spark.createDataFrame)

Help on method createDataFrame in module pyspark.sql.session:

createDataFrame(data: Union[pyspark.rdd.RDD[Any], Iterable[Any], ForwardRef('PandasDataFrameLike'), ForwardRef('ArrayLike')], schema: Union[pyspark.sql.types.AtomicType, pyspark.sql.types.StructType, str, NoneType] = None, samplingRatio: Optional[float] = None, verifySchema: bool = True) -> pyspark.sql.dataframe.DataFrame method of pyspark.sql.session.SparkSession instance
    Creates a :class:`DataFrame` from an :class:`RDD`, a list, a :class:`pandas.DataFrame`
    or a :class:`numpy.ndarray`.

    .. versionadded:: 2.0.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    data : :class:`RDD` or iterable
        an RDD of any kind of SQL data representation (:class:`Row`,
        :class:`tuple`, ``int``, ``boolean``, etc.), or :class:`list`,
        :class:`pandas.DataFrame` or :class:`numpy.ndarray`.
    schema : :class:`pyspark.sql.types.DataType`, str or list, optional
        a :class:`pyspark.sql.types.DataType` or a datatype string or a list of
        column names, default is None.  The data type string format equals to
        :class:`pyspark.sql.types.DataType.simpleString`, except that top level struct type can
        omit the ``struct<>``.

        When ``schema`` is a list of column names, the type of each column
        will be inferred from ``data``.

        When ``schema`` is ``None``, it will try to infer the schema (column names and types)
        from ``data``, which should be an RDD of either :class:`Row`,
        :class:`namedtuple`, or :class:`dict`.

        When ``schema`` is :class:`pyspark.sql.types.DataType` or a datatype string, it must
        match the real data, or an exception will be thrown at runtime. If the given schema is
        not :class:`pyspark.sql.types.StructType`, it will be wrapped into a
        :class:`pyspark.sql.types.StructType` as its only field, and the field name will be
        "value". Each record will also be wrapped into a tuple, which can be converted to row
        later.
    samplingRatio : float, optional
        the sample ratio of rows used for inferring. The first few rows will be used
        if ``samplingRatio`` is ``None``.
    verifySchema : bool, optional
        verify data types of every row against schema. Enabled by default.

        .. versionadded:: 2.1.0

    Returns
    -------
    :class:`DataFrame`

    Notes
    -----
    Usage with `spark.sql.execution.arrow.pyspark.enabled=True` is experimental.

    Examples
    --------
    Create a DataFrame from a list of tuples.

    >>> spark.createDataFrame([('Alice', 1)]).collect()
    [Row(_1='Alice', _2=1)]
    >>> spark.createDataFrame([('Alice', 1)], ['name', 'age']).collect()
    [Row(name='Alice', age=1)]

    Create a DataFrame from a list of dictionaries

    >>> d = [{'name': 'Alice', 'age': 1}]
    >>> spark.createDataFrame(d).collect()
    [Row(age=1, name='Alice')]

    Create a DataFrame from an RDD.

    >>> rdd = spark.sparkContext.parallelize([('Alice', 1)])
    >>> spark.createDataFrame(rdd).collect()
    [Row(_1='Alice', _2=1)]
    >>> df = spark.createDataFrame(rdd, ['name', 'age'])
    >>> df.collect()
    [Row(name='Alice', age=1)]

    Create a DataFrame from Row instances.

    >>> from pyspark.sql import Row
    >>> Person = Row('name', 'age')
    >>> person = rdd.map(lambda r: Person(*r))
    >>> df2 = spark.createDataFrame(person)
    >>> df2.collect()
    [Row(name='Alice', age=1)]

    Create a DataFrame with the explicit schema specified.

    >>> from pyspark.sql.types import *
    >>> schema = StructType([
    ...    StructField("name", StringType(), True),
    ...    StructField("age", IntegerType(), True)])
    >>> df3 = spark.createDataFrame(rdd, schema)
    >>> df3.collect()
    [Row(name='Alice', age=1)]

    Create a DataFrame from a pandas DataFrame.

    >>> spark.createDataFrame(df.toPandas()).collect()  # doctest: +SKIP
    [Row(name='Alice', age=1)]
    >>> spark.createDataFrame(pandas.DataFrame([[1, 2]])).collect()  # doctest: +SKIP
    [Row(0=1, 1=2)]

    Create  a DataFrame from an RDD with the schema in DDL formatted string.

    >>> spark.createDataFrame(rdd, "a: string, b: int").collect()
    [Row(a='Alice', b=1)]
    >>> rdd = rdd.map(lambda row: row[1])
    >>> spark.createDataFrame(rdd, "int").collect()
    [Row(value=1)]

    When the type is unmatched, it throws an exception.

    >>> spark.createDataFrame(rdd, "boolean").collect() # doctest: +IGNORE_EXCEPTION_DETAIL
    Traceback (most recent call last):
        ...
    Py4JJavaError: ...

In [ ]:
data= [(1,'a',24),(2,'b',30)]

In [ ]:
df=spark.createDataFrame(data)

In [ ]:
df.show()

+---+---+---+
| _1| _2| _3|
+---+---+---+
|  1|  a| 24|
|  2|  b| 30|
+---+---+---+

In [ ]:
df.collect()

[Row(_1=1, _2='a', _3=24), Row(_1=2, _2='b', _3=30)]

In [ ]:
display(df)  # in Data brick work properly

DataFrame[_1: bigint, _2: string, _3: bigint]

In [ ]:
# to sow the data types
df.dtypes

[('_1', 'bigint'), ('_2', 'string'), ('_3', 'bigint')]

In [ ]:
df.printSchema()  # path of ROOTS

root
 |-- _1: long (nullable = true)
 |-- _2: string (nullable = true)
 |-- _3: long (nullable = true)

In [ ]:
users_schema= """
    empid int,
    name string,
    age int
"""

In [ ]:
df=spark.createDataFrame(data,schema= users_schema)

In [ ]:
df.show()

+-----+----+---+
|empid|name|age|
+-----+----+---+
|    1|   a| 24|
|    2|   b| 30|
+-----+----+---+

In [ ]:
display(df)

DataFrame[empid: int, name: string, age: int]

In [ ]:
df.printSchema()

root
 |-- empid: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)

In [ ]:
# import Datatimes

import datetime
users=[(1,
       'Claire',
       'Gute',
        'clairegute@mail.com',
        True,
        1000.2,
        datetime.date(1991,5,3),
        datetime.date(2022,1,1)
       ),
       (2,
       'Brosina',
       'kodoli',
        'brosina@mail.com',
        False,
        2000.2,
        datetime.date(2000,4,3),
        datetime.date(2022,3,5)
       ),
       (3,
       'Andrew',
       'Adam',
        'andrew@mail.com',
        True,
        1500.2,
        datetime.date(1995,10,21),
        datetime.date(2021,11,10)
       ),
       (4,
       'John',
       'Allen',
        'john@mail.com',
        False,
        None,
        datetime.date(1997,6,30),
        datetime.date(2019,3,31)
       )
]

In [ ]:
df1=spark.createDataFrame(users)

In [ ]:
df1.show()

+---+-------+------+-------------------+-----+------+----------+----------+
| _1|     _2|    _3|                 _4|   _5|    _6|        _7|        _8|
+---+-------+------+-------------------+-----+------+----------+----------+
|  1| Claire|  Gute|clairegute@mail.com| true|1000.2|1991-05-03|2022-01-01|
|  2|Brosina|kodoli|   brosina@mail.com|false|2000.2|2000-04-03|2022-03-05|
|  3| Andrew|  Adam|    andrew@mail.com| true|1500.2|1995-10-21|2021-11-10|
|  4|   John| Allen|      john@mail.com|false|  null|1997-06-30|2019-03-31|
+---+-------+------+-------------------+-----+------+----------+----------+

In [ ]:
schema_list=[
    "id",
    "firstname",
    "lastname",
    "email ",
    "is_customer ",
    "amount_paid",
    "dob",
    "last_update"

]

In [ ]:
df2=spark.createDataFrame(users,schema_list)

In [ ]:
df2.show()

+---+---------+--------+-------------------+------------+-----------+----------+-----------+
| id|firstname|lastname|             email |is_customer |amount_paid|       dob|last_update|
+---+---------+--------+-------------------+------------+-----------+----------+-----------+
|  1|   Claire|    Gute|clairegute@mail.com|        true|     1000.2|1991-05-03| 2022-01-01|
|  2|  Brosina|  kodoli|   brosina@mail.com|       false|     2000.2|2000-04-03| 2022-03-05|
|  3|   Andrew|    Adam|    andrew@mail.com|        true|     1500.2|1995-10-21| 2021-11-10|
|  4|     John|   Allen|      john@mail.com|       false|       null|1997-06-30| 2019-03-31|
+---+---------+--------+-------------------+------------+-----------+----------+-----------+

In [ ]:
df2.printSchema()

root
 |-- id: long (nullable = true)
 |-- firstname: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- email : string (nullable = true)
 |-- is_customer : boolean (nullable = true)
 |-- amount_paid: double (nullable = true)
 |-- dob: date (nullable = true)
 |-- last_update: date (nullable = true)

In [ ]:

import datetime
users_json=[{"id":1,
       "first_name":'Naval',
       "last_name":'Yemul',
        "mail":'navalyemul@mail.com',
        "phone_numbers": ["+123456"," +912324656"],
        "is_customer":True,
        "amount_paid":1000.2,
        "customer_from":datetime.date(2002,12,31),
        "last_update_ts":datetime.date(2022,1,1)
       },
       {"id":2,
       "first_name":'John',
       "last_name":'Players',
        "mail":'john@mail.com',
        "phone_numbers": ["+1 789 567 234 ", "+91 124137645"],
        "is_customer":True,
        "amount_paid":2000.4,
        "customer_from":datetime.date(2004,5,30),
        "last_update_ts":datetime.date(2022,11,29)
       },
       {"id":3,
       "first_name":'Killer',
       "last_name":'Spykar',
        "mail":'killer@mail.com',
        "phone_numbers": [" ", "+91 124137645"],
        "is_customer":True,
        "amount_paid":3000.0,
        "customer_from":datetime.date(2016,3,18),
        "last_update_ts":datetime.date(2020,3,24)
       },
       {"id":4,
       "first_name":'Levis',
       "last_name":'Jeans',
        "mail":'jeans@mail.com',
        "phone_numbers": ["+1 789 567 234 ", " "],
        "is_customer":True,
        "amount_paid":1500.5,
        "customer_from":datetime.date(1990,12,3),
        "last_update_ts":datetime.date(2022,3,2)
       },
       {"id":5,
       "first_name":'Puma',
       "last_name":'Adidas',
        "mail":'puma@mail.com',
        "phone_numbers": [" ", " "],
        "is_customer":True,
        "amount_paid":500.5,
        "customer_from":datetime.date(1995,2,19),
        "last_update_ts":datetime.date(2022,1,21)
       }

]

In [ ]:
df3=spark.createDataFrame(users_json)

In [ ]:
df3.show()

+-----------+-------------+----------+---+-----------+---------+--------------+-------------------+--------------------+
|amount_paid|customer_from|first_name| id|is_customer|last_name|last_update_ts|               mail|       phone_numbers|
+-----------+-------------+----------+---+-----------+---------+--------------+-------------------+--------------------+
|     1000.2|   2002-12-31|     Naval|  1|       true|    Yemul|    2022-01-01|navalyemul@mail.com|[+123456,  +91232...|
|     2000.4|   2004-05-30|      John|  2|       true|  Players|    2022-11-29|      john@mail.com|[+1 789 567 234 ,...|
|     3000.0|   2016-03-18|    Killer|  3|       true|   Spykar|    2020-03-24|    killer@mail.com|  [ , +91 124137645]|
|     1500.5|   1990-12-03|     Levis|  4|       true|    Jeans|    2022-03-02|     jeans@mail.com|[+1 789 567 234 ,  ]|
|      500.5|   1995-02-19|      Puma|  5|       true|   Adidas|    2022-01-21|      puma@mail.com|              [ ,  ]|
+-----------+-------------+----------+---+-----------+---------+--------------+-------------------+--------------------+

In [ ]:
df3.printSchema()

root
 |-- amount_paid: double (nullable = true)
 |-- customer_from: date (nullable = true)
 |-- first_name: string (nullable = true)
 |-- id: long (nullable = true)
 |-- is_customer: boolean (nullable = true)
 |-- last_name: string (nullable = true)
 |-- last_update_ts: date (nullable = true)
 |-- mail: string (nullable = true)
 |-- phone_numbers: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [ ]:
# %md
# ### DataFrame Function
# - select
# - alias
# - withColumnRenamed



# ### Functions
# - col
# - concat
# - lit

In [ ]:
df2.select("*")

DataFrame[id: bigint, firstname: string, lastname: string, email : string, is_customer : boolean, amount_paid: double, dob: date, last_update: date]

In [ ]:
df2.show()

+---+---------+--------+-------------------+------------+-----------+----------+-----------+
| id|firstname|lastname|             email |is_customer |amount_paid|       dob|last_update|
+---+---------+--------+-------------------+------------+-----------+----------+-----------+
|  1|   Claire|    Gute|clairegute@mail.com|        true|     1000.2|1991-05-03| 2022-01-01|
|  2|  Brosina|  kodoli|   brosina@mail.com|       false|     2000.2|2000-04-03| 2022-03-05|
|  3|   Andrew|    Adam|    andrew@mail.com|        true|     1500.2|1995-10-21| 2021-11-10|
|  4|     John|   Allen|      john@mail.com|       false|       null|1997-06-30| 2019-03-31|
+---+---------+--------+-------------------+------------+-----------+----------+-----------+

In [ ]:
# I want id ,firstname of given df2 data
df2.select("id","firstname").show()

+---+---------+
| id|firstname|
+---+---------+
|  1|   Claire|
|  2|  Brosina|
|  3|   Andrew|
|  4|     John|
+---+---------+

In [ ]:
# import some keyword/tranformation
from pyspark.sql.functions import col,concat,lit

In [ ]:
from pyspark.sql.functions import *

In [ ]:
df2.select("id",df2.firstname,col("lastname")).show()

+---+---------+--------+
| id|firstname|lastname|
+---+---------+--------+
|  1|   Claire|    Gute|
|  2|  Brosina|  kodoli|
|  3|   Andrew|    Adam|
|  4|     John|   Allen|
+---+---------+--------+

In [ ]:
df1.select("id",df1.firstname,col("lastname"),df1["email "]).show()

+---+---------+--------+-------------------+
| id|firstname|lastname|             email |
+---+---------+--------+-------------------+
|  1|   Claire|    Gute|clairegute@mail.com|
|  2|  Brosina|  kodoli|   brosina@mail.com|
|  3|   Andrew|    Adam|    andrew@mail.com|
|  4|     John|   Allen|      john@mail.com|
+---+---------+--------+-------------------+

In [ ]:
df2.select(col("id").alias("emp_id")).show()

+------+
|emp_id|
+------+
|     1|
|     2|
|     3|
|     4|
+------+

In [ ]:
df1.select(col("id").alias("emp_id")).show()

+------+
|emp_id|
+------+
|     1|
|     2|
|     3|
|     4|
+------+

In [ ]:
df1.select(concat("firstname", " ", "lastname").alias("fullname")).show()

AnalysisException: ignored

In [ ]:
df1v1=df1.select("id",
           concat("firstname", lit(" "), "lastname").alias("fullname"),
           "email ",
           col("amount_paid")
          )

In [ ]:
df1v1.show()

+---+--------------+-------------------+-----------+
| id|      fullname|             email |amount_paid|
+---+--------------+-------------------+-----------+
|  1|   Claire Gute|clairegute@mail.com|     1000.2|
|  2|Brosina kodoli|   brosina@mail.com|     2000.2|
|  3|   Andrew Adam|    andrew@mail.com|     1500.2|
|  4|    John Allen|      john@mail.com|       null|
+---+--------------+-------------------+-----------+

In [ ]:
df2.select(col("id").alias("emp_id"),"*").show()

+------+---+---------+--------+-------------------+------------+-----------+----------+-----------+
|emp_id| id|firstname|lastname|             email |is_customer |amount_paid|       dob|last_update|
+------+---+---------+--------+-------------------+------------+-----------+----------+-----------+
|     1|  1|   Claire|    Gute|clairegute@mail.com|        true|     1000.2|1991-05-03| 2022-01-01|
|     2|  2|  Brosina|  kodoli|   brosina@mail.com|       false|     2000.2|2000-04-03| 2022-03-05|
|     3|  3|   Andrew|    Adam|    andrew@mail.com|        true|     1500.2|1995-10-21| 2021-11-10|
|     4|  4|     John|   Allen|      john@mail.com|       false|       null|1997-06-30| 2019-03-31|
+------+---+---------+--------+-------------------+------------+-----------+----------+-----------+

In [ ]:
help(df1.withColumnRenamed)

Help on method withColumnRenamed in module pyspark.sql.dataframe:

withColumnRenamed(existing: str, new: str) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Returns a new :class:`DataFrame` by renaming an existing column.
    This is a no-op if the schema doesn't contain the given column name.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    existing : str
        string, name of the existing column to rename.
    new : str
        string, new name of the column.

    Returns
    -------
    :class:`DataFrame`
        DataFrame with renamed column.

    Examples
    --------
    >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")], schema=["age", "name"])
    >>> df.withColumnRenamed('age', 'age2').show()
    +----+-----+
    |age2| name|
    +----+-----+
    |   2|Alice|
    |   5|  Bob|
    +----+-----+

In [ ]:
df2.withColumnRenamed("id","emp_id").show()

+------+---------+--------+-------------------+------------+-----------+----------+-----------+
|emp_id|firstname|lastname|             email |is_customer |amount_paid|       dob|last_update|
+------+---------+--------+-------------------+------------+-----------+----------+-----------+
|     1|   Claire|    Gute|clairegute@mail.com|        true|     1000.2|1991-05-03| 2022-01-01|
|     2|  Brosina|  kodoli|   brosina@mail.com|       false|     2000.2|2000-04-03| 2022-03-05|
|     3|   Andrew|    Adam|    andrew@mail.com|        true|     1500.2|1995-10-21| 2021-11-10|
|     4|     John|   Allen|      john@mail.com|       false|       null|1997-06-30| 2019-03-31|
+------+---------+--------+-------------------+------------+-----------+----------+-----------+

In [ ]:
# Special Data types in spark

# StructType
# MapType
# ArrayType

In [ ]:
from pyspark.sql.types import *

In [ ]:
schema_pyspark=StructType([StructField("id",IntegerType()),
                            StructField("first_name",StringType()),
                            StructField("last_name",StringType()),
                            StructField("mail",StringType()),
                            StructField("phone_numbers",StringType()),
                            StructField("is_customer",BooleanType()),
                            StructField("amount_paid",DoubleType()),
                            StructField("customer_from",DateType()),
                            StructField("last_update_ts",DateType()),

])

In [ ]:
df2new=spark.createDataFrame(users_json,schema_pyspark)

In [ ]:
df2new.show()

+---+----------+---------+-------------------+--------------------+-----------+-----------+-------------+--------------+
| id|first_name|last_name|               mail|       phone_numbers|is_customer|amount_paid|customer_from|last_update_ts|
+---+----------+---------+-------------------+--------------------+-----------+-----------+-------------+--------------+
|  1|     Naval|    Yemul|navalyemul@mail.com|[+123456,  +91232...|       true|     1000.2|   2002-12-31|    2022-01-01|
|  2|      John|  Players|      john@mail.com|[+1 789 567 234 ,...|       true|     2000.4|   2004-05-30|    2022-11-29|
|  3|    Killer|   Spykar|    killer@mail.com|  [ , +91 124137645]|       true|     3000.0|   2016-03-18|    2020-03-24|
|  4|     Levis|    Jeans|     jeans@mail.com|[+1 789 567 234 ,  ]|       true|     1500.5|   1990-12-03|    2022-03-02|
|  5|      Puma|   Adidas|      puma@mail.com|              [ ,  ]|       true|      500.5|   1995-02-19|    2022-01-21|
+---+----------+---------+-------------------+--------------------+-----------+-----------+-------------+--------------+

In [ ]:
df2new.printSchema()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- mail: string (nullable = true)
 |-- phone_numbers: string (nullable = true)
 |-- is_customer: boolean (nullable = true)
 |-- amount_paid: double (nullable = true)
 |-- customer_from: date (nullable = true)
 |-- last_update_ts: date (nullable = true)

In [ ]:
schema_pyspark2=StructType([StructField("id",IntegerType()),
                            StructField("first_name",StringType()),
                            StructField("last_name",StringType()),
                            StructField("mail",StringType()),
                            StructField("phone_numbers",ArrayType(StringType())),
                            StructField("is_customer",BooleanType()),
                            StructField("amount_paid",DoubleType()),
                            StructField("customer_from",DateType()),
                            StructField("last_update_ts",DateType()),

])

In [ ]:
df2new1=spark.createDataFrame(users_json,schema_pyspark2)

In [ ]:
df2new1.show()

+---+----------+---------+-------------------+--------------------+-----------+-----------+-------------+--------------+
| id|first_name|last_name|               mail|       phone_numbers|is_customer|amount_paid|customer_from|last_update_ts|
+---+----------+---------+-------------------+--------------------+-----------+-----------+-------------+--------------+
|  1|     Naval|    Yemul|navalyemul@mail.com|[+123456,  +91232...|       true|     1000.2|   2002-12-31|    2022-01-01|
|  2|      John|  Players|      john@mail.com|[+1 789 567 234 ,...|       true|     2000.4|   2004-05-30|    2022-11-29|
|  3|    Killer|   Spykar|    killer@mail.com|  [ , +91 124137645]|       true|     3000.0|   2016-03-18|    2020-03-24|
|  4|     Levis|    Jeans|     jeans@mail.com|[+1 789 567 234 ,  ]|       true|     1500.5|   1990-12-03|    2022-03-02|
|  5|      Puma|   Adidas|      puma@mail.com|              [ ,  ]|       true|      500.5|   1995-02-19|    2022-01-21|
+---+----------+---------+-------------------+--------------------+-----------+-----------+-------------+--------------+

In [ ]:

import datetime
users_3=[{"id":1,
       "first_name":'Naval',
       "last_name":'Yemul',
        "mail":'navalyemul@mail.com',
        "phone_numbers": {"home": "+1 234 567 789","work":"+91 123987645"},
        "is_customer":True,
        "amount_paid":1000.2,
        "customer_from":datetime.date(2002,12,31),
        "last_update_ts":datetime.date(2022,1,1)
       },
       {"id":2,
       "first_name":'John',
       "last_name":'Players',
        "mail":'john@mail.com',
        "phone_numbers":  {"home": "+1 234 567 789 ","work":"+91 45387655"},
        "is_customer":True,
        "amount_paid":2000.4,
        "customer_from":datetime.date(2004,5,30),
        "last_update_ts":datetime.date(2022,11,29)
       },
       {"id":3,
       "first_name":'Killer',
       "last_name":'Spykar',
        "mail":'killer@mail.com',
        "phone_numbers":{"home": "+1 234 999 000 ","work":"+91 4538777"},
        "is_customer":True,
        "amount_paid":3000.0,
        "customer_from":datetime.date(2016,3,18),
        "last_update_ts":datetime.date(2020,3,24)
       },
       {"id":4,
       "first_name":'Levis',
       "last_name":'Jeans',
        "mail":'jeans@mail.com',
        "phone_numbers": {"home": "+1 234 222 888 ","work":"+91 000777"},
        "is_customer":True,
        "amount_paid":1500.5,
        "customer_from":datetime.date(1990,12,3),
        "last_update_ts":datetime.date(2022,3,2)
       },
       {"id":5,
       "first_name":'Puma',
       "last_name":'Adidas',
        "mail":'puma@mail.com',
        "phone_numbers": {"home": "+1 234 111 777 ","work":"+91 3336666"},
        "is_customer":True,
        "amount_paid":500.5,
        "customer_from":datetime.date(1995,2,19),
        "last_update_ts":datetime.date(2022,1,21)
       }

]

In [ ]:
schema_pyspark3=StructType([StructField("id",IntegerType()),
                            StructField("first_name",StringType()),
                            StructField("last_name",StringType()),
                            StructField("mail",StringType()),
                            StructField("phone_numbers",MapType(StringType(),StringType())),
                            StructField("is_customer",BooleanType()),
                            StructField("amount_paid",DoubleType()),
                            StructField("customer_from",DateType()),
                            StructField("last_update_ts",DateType()),

])

In [ ]:
df4=spark.createDataFrame(users_3,schema_pyspark3)

In [ ]:
df4.show()

+---+----------+---------+-------------------+--------------------+-----------+-----------+-------------+--------------+
| id|first_name|last_name|               mail|       phone_numbers|is_customer|amount_paid|customer_from|last_update_ts|
+---+----------+---------+-------------------+--------------------+-----------+-----------+-------------+--------------+
|  1|     Naval|    Yemul|navalyemul@mail.com|{work -> +91 1239...|       true|     1000.2|   2002-12-31|    2022-01-01|
|  2|      John|  Players|      john@mail.com|{work -> +91 4538...|       true|     2000.4|   2004-05-30|    2022-11-29|
|  3|    Killer|   Spykar|    killer@mail.com|{work -> +91 4538...|       true|     3000.0|   2016-03-18|    2020-03-24|
|  4|     Levis|    Jeans|     jeans@mail.com|{work -> +91 0007...|       true|     1500.5|   1990-12-03|    2022-03-02|
|  5|      Puma|   Adidas|      puma@mail.com|{work -> +91 3336...|       true|      500.5|   1995-02-19|    2022-01-21|
+---+----------+---------+-------------------+--------------------+-----------+-----------+-------------+--------------+

In [ ]:
df4.printSchema()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- mail: string (nullable = true)
 |-- phone_numbers: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)
 |-- is_customer: boolean (nullable = true)
 |-- amount_paid: double (nullable = true)
 |-- customer_from: date (nullable = true)
 |-- last_update_ts: date (nullable = true)

In [ ]:
# Task wk_2 D_1
Data= [("James","","Smith","36636","M",60000),

        ("Michael","Rose","","40288","M",70000),

        ("Robert","","Williams","42114","",400000),

        ("Maria","Anne","Jones","39192","F",500000),

        ("Jen","Mary","Brown","","F",0)]

In [ ]:
df=spark.createDataFrame(Data)